[tool.ruff]
target-version = "py312"
line-length = 100
extend-select = ["I"]  # active le tri d'import Ruff (remplace isort)

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
docstring-code-format = true

[tool.black]
line-length = 100
target-version = ["py312"]
